@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
    // Hello my friend
}

<div class="text-center">
    

    @if(Model.Recipe != null)
    {
        <p>@Model.Recipe.Title</p>
    }
</div>
