@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
    // Hello my friend
}

<div class="text-center">
    

    @if(Model.Recipe != null)
    {
        <p>@Model.Recipe.Title</p>
    }

    @if (Model.RecipeResult != null)
    {
        <p>@Model.RecipeResult.Recipes.Count</p>
        @foreach (var r in Model.RecipeResult.Recipes)
        {
            <p>@r.Title</p>
        }
    }
</div>
